body{
  background-image: url(img/background.png);
}
.all {text-align:center;


}

#ris{
  opacity: 0.8;
background-color: white;
width: 1068px;
height: 655px;
  margin: auto;
  border-radius: 40px;

}
